@import "bootstrap";

header {
  padding: 10px 0;
  + * {
    margin-top: 100px;
  }
}
img#logo { float: left; }

/*colors*/
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #D6F243;
}
.btn-primary {
  background-color: #b6c748;
  border-color: #aaba42;
  &:hover {
    background-color: #a3b643;
    border-color: #98a63d;
  }
}

html { overflow-y: scroll;  }
section {  overflow: auto;  }
textarea {  resize: vertical;  }

.center {
  text-align: center;
  h1{margin-bottom: 10px;}
}

/* typography */

h1, h2, h3, h4, h5, h6 {line-height: 1;}

h1 {  font-size: 3em;  letter-spacing: -2px;  margin-bottom: 30px;  text-align: center;  }
h2 {  font-size: 1.2em;  letter-spacing: -1px;  margin-bottom: 30px;  text-align: center;  font-weight: normal;  color: #999;  }
p {  font-size: 1.1em;  line-height: 1.7em;  }

/* footer */

footer {  margin-top: 45px;  padding-top: 5px;  border-top: 1px solid #eaeaea;  color: #999;
  a { color: #555; &:hover {color: #222;}}
  small {float: left;}
}
.actions {
  margin: 10px 0;
}
input[type="file"] { display: inline-block; }

.list-group-item{
  &:hover{ background-color: #D6F243; }
}

.block {
  min-height: 300px;
  padding: 5px;
  margin-top: -5px;
  border-bottom: 2px solid #555;
  img { float: left; border: 5px solid white; border-radius: 10px; margin: 0 5px 5px 0;}
  &.block-small { border-bottom: none; float: left; min-width: 300px;margin: -5px 10px 10px 0;}
}
.jumbotron p { font-size: 14px; }

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
    li {
    list-style: none;
    }
  }
}


