<div class="block block-small">
  <%= link_to image_tag(product.img :medium), product %><br>
  <%= product.title %><br>

  <% if admin? %>
    <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-primary btn-sm pull-right' %>
    <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary btn-sm pull-right' %>
  <% end %>
</div>

