<div class="col-sm-3">
  <ul class="list-group inverse">
    <li class="list-group-item">
      <span class="badge"><%= Product.all.count %></span>
      <%= link_to 'All categories', products_path %>
    </li>
    <% Category.all.each do |c| %>
      <li class="list-group-item">
        <span class="badge"><%= c.products.count %></span>
        <%= link_to c.name, products_category_path(c) %>
      </li>
    <% end %>
  </ul>
</div>